.club_card_display_area{
    width: 70vw;
    height: 88vh;
    overflow-y: scroll;
}
.club_cards_wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 2rem;
    padding-left: 0;
}
.club_card{
    /* display: grid;
    grid-template-columns: 1fr auto; */
    display: flex;
    flex-direction: column;
    /* gap: 0.5rem; */
    /* border: 1px solid grey; */
    width: 100%;
    background: white;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 12px 15px rgba(0, 0, 0, 0.151);
    object-fit: cover;
}
.club_card_image_area{
    width: 100%;
    height: 26vh;
}
.club_flag{
    width: 100%;
    height: 100%;
}
.club_card_text_area{
    padding: 0.5rem;
    padding-bottom: 1.1rem;
    font-weight: 400;
}
.single_club_card_text{
    line-height: 1.6;
}

@media (max-width: 980px) {
    .club_card_display_area{
        overflow: hidden;
        margin: auto;
        width: 80vw;
    }
}