.team_display_area{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 3rem 1rem;
    padding-left: 0;
    height: 88vh;
    overflow-y: scroll;
    padding: 1rem;
}