.league_sidebar{
    border: 0.1rem solid rgb(192, 190, 190);
    width: 20vw;
    padding: 1rem;
    margin: 0 2rem;
    border-radius: 0.5rem;
    height: auto;
    margin-top: 1rem;
    background: #fff;
    max-height: 85vh;
}
.league_sidebar ul{
    list-style-type: none;
}
.league_sidebar ul h3{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.league_sidebar ul li{
    line-height: 2.8;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-left: 0.5rem;
    cursor: pointer;
}
.league_sidebar ul li ion-icon{
    width: 1.5rem;
    height: 1.5rem;
}

.other_features_header{
    font-size: 1.2rem;
    margin-top: 0.5rem;
}
