.contact-page-body{
    width: 80%;
    height: auto;
    background-color: #37b24d;
    border-radius: 2.5%;
    display: flex;
    flex-direction: row-reverse;
    margin: 5rem auto;
}
.mybutton {
    padding: .7rem 1.5rem;
    background-color: #18ab29;
    border: 0;
    color: white;
}
.Text_input-holder{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding:18px 15px;

}


.text_holder h3{
font-size: 1.5rem;
color: white;
}

.text_holder p{
    font-size: 1rem;
    color: white;
    }
    

#input-form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.Input-box label{
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
}

.input-field{
        border:5px solid #18ab29;
        cursor:pointer;
        color:#000000;
        font-family:Arial;
        font-size:17px;
        padding:10px 31px;
        width: 50%;
        outline: #37b24d;
}
.datalist-field{
        border-radius:12px;
        border:5px solid #18ab29;
        cursor:pointer;
        color:#0a0909;
        font-family:Arial;
        font-size:17px;
        padding:10px 0px;
        width: 18vw;
}



.contact-page-image{
    width: 65%;
    height: 100%;
    object-fit: contain;
    border-radius: 2.5%;
    }


@media (max-width: 300px){
    .contact-page-body{
        width: 100%;
        height: auto;
        background-color: #37b24d;
        border-radius: 2.5%;
        display: flex;
    flex-direction:column;
    }
    
    
    .Text_input-holder{
        display: flex;
        flex-direction: column;
    width: 100%;
    padding:18px 15px;
    
    }
    
    
    .text_holder h3{
    font-size: 2.5rem;
    color: white;
    }
    
    .text_holder p{
        font-size: 1.5rem;
        color: white;
        }
        
    
    #input-form{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
    
    
    .Input-box label{
        font-size: 1.5rem;
        font-weight: 1000;
        color: white;
    }
    
    .input-field{
        border-radius:12px;
            border:5px solid #18ab29;
            cursor:pointer;
            color:#000000;
            font-family:Arial;
            font-size:17px;
            padding:10px 31px;
            width: 60%;
            outline: #37b24d;
    }
    .datalist-field{
        border-radius:12px;
            border:5px solid #18ab29;
            cursor:pointer;
            color:#0a0909;
            font-family:Arial;
            font-size:17px;
            padding:10px 0px;
            width: 80vw;
    }

    .contact-page-image{
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 2.5%;
        }
    }


    @media (min-width: 300px) and (max-width: 600px){

        .contact-page-body{
            width: 100%;
            height: auto;
            background-color: #37b24d;
            border-radius: 0;
            display: flex;
            flex-direction:column;
        }
        
        
        .Text_input-holder{
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 2rem;
        
        }
        
        
        .text_holder h3{
        font-size: 1.5rem;
        color: white;
        }
        
        .text_holder p{
            font-size: 1rem;
            color: white;
            }
            
        
        #input-form{
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
        
        
        
        .Input-box label{
            font-size: 1rem;
            font-weight: 700;
            color: white;
        }
        
        .input-field{
                border:5px solid #18ab29;
                cursor:pointer;
                color:#000000;
                font-family:Arial;
                font-size:17px;
                padding:10px 31px;
                width: 87%;
                height: 2rem;
        }
        .cnt {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 2rem;
        }
        .datalist-field * > * {
            margin-top: 1rem;
        }
        .datalist-field{
                border-radius:12px;
                border:5px solid #18ab29;
                cursor:pointer;
                color:#0a0909;
                font-family:Arial;
                font-size:17px;
                padding:10px 0px;
                width: 87%;
        }
        .contact-page-image{
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 2.5%;
            }
        }
    



    @media (min-width: 600px) and (max-width: 900px){
        .contact-page-body{
            width: 100%;
            height: auto;
            background-color: #37b24d;
            border-radius: 2.5%;
            display: flex;
            flex-direction:row-reverse;
        }
        
        
        .Text_input-holder{
            display: flex;
            flex-direction: column;
        width: 100%;
        padding:18px 15px;
        
        }
        
        
        .text_holder h3{
        font-size: 1.5rem;
        color: white;
        }
        
        .text_holder p{
            font-size: 1.2rem;
            color: white;
            }
            
        
        #input-form{
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        .Input-box label{
            font-size: 1rem;
            font-weight: 1000;
            color: white;
        }
        
        .input-field{
            border-radius:12px;
                border:5px solid #18ab29;
                cursor:pointer;
                color:#000000;
                font-family:Arial;
                font-size:17px;
                padding:10px 31px;
                width: 90%;
                height: 2rem;
                outline: #37b24d;
        }
        .datalist-field{
            border-radius:12px;
                border:5px solid #18ab29;
                cursor:pointer;
                color:#0a0909;
                font-family:Arial;
                font-size:17px;
                padding:10px 0px;
                width: 30vw;
        }
        .contact-page-image{
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 2.5%;
            }
        }
        @media (min-width: 900px) and (max-width: 1200px){
            .contact-page-body{
                width: 100%;
                height: auto;
                background-color: #37b24d;
                border-radius: 2.5%;
                display: flex;
            flex-direction:row-reverse;
            }
            .Text_input-holder{
                display: flex;
                flex-direction: column;
            width: 100%;
            padding:18px 15px;
            
            }
            .text_holder h3{
            font-size: 2rem;
            color: white;
            }
            
            .text_holder p{
                font-size: 1rem;
                color: white;
                }
                
            
            #input-form{
                display: flex;
                flex-direction: row;
                gap: 1rem;
            }
            
            
            
            .Input-box label{
                font-size: 1rem;
                font-weight: 700;
                color: white;
            }
            
            .input-field{
                    border:5px solid #18ab29;
                    cursor:pointer;
                    color:#000000;
                    font-family:Arial;
                    padding:10px 31px;
                    width: 220px;
                    height: 3rem;
                    outline: #37b24d;
            }
            .cnt {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 2rem;
            }
            .datalist-field{
                border-radius:12px;
                    border:5px solid #18ab29;
                    cursor:pointer;
                    color:#0a0909;
                    font-family:Arial;
                    font-size:17px;
                    padding:10px 0px;
                    width: 30vw;
            }
            
            .contact-page-image{
                width: 100%;
                height: 100%;
                object-fit: contain;
                border-radius: 2.5%;
                }
            }


