.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    gap: 2rem;
    background: rgb(247, 247, 247);
}
.hero__content {
    width: 30vw;
    color: #37b24d;
    margin-right: 5rem;
}
.hero__img {
    width: 35vw;
    height: 80vh;
    object-fit: contain;
    margin-right: 7rem;
}
.hero__header {
    font-size: 3rem;
}
.hero__subheader {
    font-size: 1.3rem;
    margin-top: 10px;
    line-height: 1.7;
}
.hero__btn {
    padding: .4rem 1.2rem;
    background-color: #37b24d;
    color: white;
    border: 0;
    font-size: 20px;
    border-radius: 8px;
    margin: 10px 0;
    color: white;
}
.hero__btn a {
    color: white;
}
@media (max-width: 800px) {
    .hero {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }
    .hero__content {
        margin-right: 0;
        width: 70%;
    }
    .hero__img {
        margin: 0;
        width: 70%;
    }
}